{% extends 'layout.html.twig' %}

{% block content %}
    <h1>courses</h1>


    <table>
        <tbody>
        <tr>
            <td>cid</td>
            <td>fullname </td>
                        <td>short name </td>

            <td>date </td>

            <td>update </td>

        </tr>
            {% for course in courses %}


                <tr>
                    <td>{{ course.cid }}</td>
                    <td>{{ course.cfull }}</td>
                    <td>{{ course.cshort }}</td>
                    <td>{{ course.cdate }}</td>
                     <td>{{ course.update_date }}</td>
                    <td>
                        <a href="/courses/show?id={{ course.cid }}">show</a>
                        <a href="/courses/edit?id={{ course.cid }}">edit</a>
                      <form action="/courses/delete" method="POST">
        <input type="hidden" name="id" value="{{ course.cid }}">
        <button>Delete</button>
    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/courses/add">Ajouter</a>
{% endblock %}
