{# TODO : manage errors display #}

<form method="post">

	<input type="hidden" value="{{ subject.subid }}" name="subid">

	<label for="cfull">cfull</label>
    <select name="cshort" id="cshort">
        <option value="0">Select a courses</option>
        {% for course in courses %}
            {% if course.cshort == subject.cshort %}
                <option value="{{ course.cshort }}:{{ course.cfull }}" selected>{{ course.cfull }}</option>
            {% else %}
                <option value="{{ course.cshort }}:{{ course.cfull }}">{{ course.cfull }}</option>
            {% endif %}
        {% endfor %}

    </select>
    <label for="sub1">sub1</label>
   	<input type="text" value="{{ subject.sub1 }}" name="sub1" id="sub1">
   <label for="sub2">sub2</label>
   	<input type="text" value="{{ subject.sub2 }}" name="sub2" id="sub2">
       <label for="sub3">sub3</label>
   	<input type="text" value="{{ subject.sub3 }}" name="sub3" id="sub3">


	<button>Submit</button>
</form>
